
body {
	font-family : Gotham, Helvetica Neue, Arial," sans-serif";
	padding: 0;
	text-decoration: none;
	margin: 0;
	width: 1920px;
	background: #DCF0F8!important;
	color: #5E5E5E;
	position: relative;
}
span {
	 margin-top: 20px;
}
.active {
	background-color: #45C4D7!important;
	color: white;
}
.img-float {
	padding-left: 25px;
	padding-right: 35px;
	float: left;
}
p {
	margin: 0;
	padding: 0;

}


.fulltainer {
	width: 1142px;
	margin-right: 392px;
	margin-left: 383px;
	padding-bottom: 10px;
	min-height: 100%;
	
}
#header {
	background: white;
	height: 212px;
}
.logo {
	padding-left: 25px;
	padding-top: 15px;
	width: 232px;
	height: 122px;
	position: relative;

}
.info-fhone {
	position: absolute;
	left: 1260px;
	top: 80px;
	width: 250px;
	
}
.zakaz-zvonok {
	position: relative;
	margin-left: 50%;
	bottom: 15px;

}
.mal-text {
	font-size: 16.11px;
	float: right;
}
.big-text {
	font-size: 31.23px;
	float: right;
}
.m-text {
	font-size: 23.17px;
}
#menu {
	height: 57px;
	padding: 0;
	margin: 0;
	font-size: 0;

}
.ssi {
	color: #FF7452;
	border-bottom: 1px solid #FF7452;
}
.ssi:hover {
	color: #FF7452;
	border-bottom: none;
}

#first-li {
	border: none !important;
}
#menu  a {
	color: #838F97;
}

#menu li  {
	padding-left: 4.93%;
	padding-right: 4.93%;
	padding-top: 1%;
	display: inline-block !important;
	font-size: 24.17px !important;
	background-color: white;
	border-right: 1px solid #C8CDD0;
	width: auto;
	height: 57px;	
}

#menu li:hover {
	background-color: #45C4D7;
	transition: 0.3s;
}
#menu  a:hover {
	color: white;
	text-decoration: none;
	transition: 0.4s all;
}

.r-bar {
	height: 443px;
	width: 240px;
	background-color: white;
	float: left;
}
.r-bar a {
	height: 10%;
	font-size: 15px;
	color: #8C8C8C ;

}
.r-bar li {
	margin-top: 15px;
	margin-bottom: 0px;
	text-decoration: underline;
	list-style-type: none;
}
.r-bar a:hover {
	color: #FF6A36;
}
.block1 {
	height: 610px;
	width: 877px;
	background-color: white;
	float: right;
	border-radius: 5px;
}
.img_reh {
	float: left;
	height: 450px;
	width: 355px;

}
.info_reh {
	font-size: 14px;

}
.info_reh li {
	color: #FF571B;

}
.info_reh span {
	color: #5E5E5E;
}
.zvet-v {
	padding-bottom: 15px;
}
.table-d {
	cellpadding: 10px;
	margin: 10px;
	padding-top: 45px;
}
.table-d tr td a {
	color:  #FF571B;
	border-bottom: 1px dashed #FF571B;
	
}
.table-d tr td a:hover {
	text-decoration: none;
}
.table-d table tr {
	
	font-size: 16px;
	text-decoration: none;
}

#glav {
	color: #FF571B;
	font: 25px bold !important;
}
#stoim {
	margin-top: 45px;
	width: 311px;
	height: 43px;
	color: #FFE3DA;
	background-color: #FF571B;
	border-radius: 5px;
	font-size: 18px;
}
.block2 {
	margin-top: 25px;
	width: 877px;
	height: 480px;
	border-radius: 5px;
	background-color: white;
	float: right;
	
}
#footer {
	clear:none;
	position: relative;
	left: 0;
	bottom: 0;
	
	width: 100%;
	height: 261px;
	background-color: #9FB8C3;
}
/* попап */

#modal_form {
	width: 300px; 
	height: 300px; 
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; 
	top: 45%; 
	left: 50%; 
	margin-left: -150px; 
	display: none;
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000; 
	opacity:0.8; 
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	cursor:pointer;
	display:none; 
}